Options +FollowSymLinks
RewriteEngine On

AddDefaultCharset utf-8

Rewriterule ^(.*)/(.*)/$ /?a=$1&b=$2 [L]
Rewriterule ^(.*)/$ /?a=$1 [L]

RewriteCond %{HTTPS}s ^on(s)|off

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule [^/]$ http%1://%{HTTP_HOST}%{REQUEST_URI}/ [R=301,L]

