Options +FollowSymLinks
RewriteEngine On

AddDefaultCharset utf-8

#RewriteRule ([^/]+/.*/$) mirayvota.com/?magic=%{REQUEST_URI} [QSA,L]

#RewriteRule ^(.*)/(.*)$ mirayvota.com/?magic=$1&magic2=$2 [L]
#2 variables
Rewriterule ^(.*)/(.*)/$ /?a=$1&b=$2 [L]
#1 variable
Rewriterule ^(.*)/$ /?a=$1 [L]

#RewriteCond %{REQUEST_FILENAME} -d
RewriteCond %{HTTPS}s ^on(s)|off
#RewriteRule [^/]$ http%1://%{HTTP_HOST}%{REQUEST_URI}/ [R=301,L]

# add trailing slashes
#RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule .*[^/]$ $0/ [L,R=301]
#RewriteRule .*[^/]$ http%1://%{HTTP_HOST}%{REQUEST_URI}/ [R=301,L]
RewriteRule [^/]$ http%1://%{HTTP_HOST}%{REQUEST_URI}/ [R=301,L]